.wrapper {
  display: grid;
  grid-template-columns: repeat(3, fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.box {
  background-color: #567895;
  border: 1px solid white;
  border-radius: 10px;
  grid-column: 1 / 5;
  grid-row: 1;
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

.status-bar {
  background-color: #fff;
  border: 5px solid black;
  display: flow-root;
}

.status-bar__title {
  float: left;
  width: 100px;
  height: 10px;
  background-color: blue;
  border: 1px solid black;
}

.status-bar__column {
  float: left;
  padding-left: 3rem;
}
