.status-bar {
  position: fixed;
  padding-top: 10px;
  background-color: #fff;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.status-bar__title img {
  width: auto;
  height: 20px;
}

.status-bar__mother__column {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: center;
}

.status-bar__column {
  padding-left: 2rem;
  padding-right: 2rem;
}

span {
  padding: 0.5rem;
}

.status-bar__icons {
  float: right;
}

.wrapper > div {
  background-color: #fff;
}

.wrapper > div:nth-child(odd) {
  background-color: #fff;
}

.wrapper {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

img {
  width: auto%;
}

.featured-resource__media {
  margin: auto;
}

.featured-resource__text {
  font-size: 35px;
}
